<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>

    <div>
        <a href="{% url 'new' %}">new post</a>
    </div>
    
    {% for blog in blogs %}
    <div>
        <h3>{{blog.title}}</h3>

        {{blog.writer}}
        <br>
        {{blog.summary}} <a href="{%url 'detail' blog.id%}">..more</a>

        <br><br>
    </div>
    {% endfor %}

</body>
</html>